.health-wrapper {
    min-height: calc(100vh - 60px);
    padding: 80px 20px 24px;
    display: flex;
    align-items: center;     /* можно flex-start, если не хочешь по центру */
    justify-content: center;
    box-sizing: border-box;
}


.wrapper {
    color: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background: rgba(255, 255, 255, 0.08);
    border: 2px solid rgba(255, 255, 255, .2);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    backdrop-filter: blur(30px);
    padding: 32px 36px 40px;
    border-radius: 18px;
}


h1 {
    margin-bottom: 20px;
}


.health-button {
    padding: 10px 20px;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;


    border: 2px solid currentColor;
    color: inherit;
    background: transparent;
    border-radius: 30px;

    transition: all 0.3s ease;
}

.health-button:hover {

    background: rgba(128, 128, 128, 0.2);
    transform: scale(1.05);
}

p {
    margin-top: 20px;
    font-size: 1.1rem;
    opacity: 0.8;
}
