@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url("./assets/building-8259184_1920.jpg")
    no-repeat;
    background-size: cover;
}

a{
    text-decoration: none;
    color: inherit;
}
.navbar{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}
.navbar ul{
    padding: 10px 30px;
    border: 2px solid rgba(255,255,255,.2);
    backdrop-filter: blur(30px);
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    color: #fff;
    border-radius: 10px;
}
.navbar ul li{
    display: inline-block;
    padding: 5px 10px;
    margin: 0 10px;
}
.active{
    color: dodgerblue;
    font-size: 1.3rem;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80vh;
}

