
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    --header-h: 60px;
    --sidebar-w: 200px;
}

    body {
        font-family: 'Poppins', sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        background: url('./assets/building.jpg') no-repeat bottom center;
        background-size: cover;
    }
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
.layout {
    --header-h: 60px;
    --sidebar-w: 200px;

    min-height: 100vh;
}

/* когда sidebar закрыт и должен быть overlay */
.layout.sidebar-overlay {
    --sidebar-w: 0px; /* 🔥 ключ */
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 20px;

    backdrop-filter: blur(20px);
    background: rgba(30, 30, 30, 0.7);
    border-bottom: 1px solid rgba(255,255,255,0.2);
    color: #fff;
    z-index: 1000;
}
.header-left {
    font-weight: 700;
}

.header-center {
    flex: 1;
    /*text-align: center;*/
    font-size: 18px;
    font-weight: 600;
}

.header-right .logout-btn {
    cursor: pointer;
    padding: 6px 14px;
    background: transparent;
    border: 1px solid rgba(255,255,255,0.4);
    color: #fff;
    border-radius: 6px;
    margin-left: 10px;
}

.navbar {
    position: fixed;
    top: var(--header-h);
    left: 0;
    width: 160px;
    height: calc(100vh - var(--header-h));
    z-index: 900;

    backdrop-filter: blur(25px);
    background: rgba(30, 30, 30, .6);
    border-right: 1px solid rgba(255,255,255,.2);
    padding: 20px;

    display: flex;
    flex-direction: column;

    transform: translateX(0);
    transition: transform 200ms ease;
}

/* когда sidebar "закрыт" (overlay режим) — прячем его влево */
.layout.sidebar-overlay .navbar {
    transform: translateX(-100%);
}
.sidebar-backdrop {
    position: fixed;
    top: var(--header-h);
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 850;

    background: rgba(0,0,0,0.45);
    backdrop-filter: blur(2px);
}

.navbar-link {
    display: block;
    color: #fff;
    margin: 10px 0;
    text-decoration: none;
    font-size: 16px;
}

.navbar-link.active {
    font-weight: bold;
    text-decoration: underline;
}

.content {
    margin-left: var(--sidebar-w);
    padding: 20px;
    color: #fff;
    box-sizing: border-box;

    min-width: 0;
    min-height: calc(100vh - var(--header-h));
}
.burger-btn {
    background: transparent;
    border: 1px solid rgba(255,255,255,0.35);
    color: #fff;
    border-radius: 8px;
    padding: 6px 10px;
    cursor: pointer;
    margin-right: 12px;
}





